.col-4 {
  border: 1px solid;
  background-color: white;
  /* margin-left: 7%; */
}
.col {
  background-color: brown;
}
.main {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
}
